@import 'main';
html, body, #root
{
    margin: 0 !important;
    height: 100%;
}
.landing-container
{
    height: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.19931722689075626) 60%);
}
.landing-navbar
{
    @include flexDisplaying($justify: space-between);
    padding: 10px 100px 0 10px;
    height: 80px; 
    border-bottom: 1px solid lightgray;
}
.landing-nav-ul
{
    @include flexDisplaying($align: center);
    height: 95%;
    margin: 0 !important;
}
.Guestmode-btn
{
    background-color: azure;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
    margin: 20px;
    font-size: large;
    height: 50%;
}
.Guestmode-btn:active
{
    transform: scale(0.985);
}
.Guestmode-btn:hover
{
    box-shadow: 2px 2px 5px 1px $niceBlue;
}
.Log-in-btn
{
    width: 120px;
}
.Sign-up-btn
{
    width: 120px;
    background-color: rgb(190, 163, 224);
}
.landing-heading
{
    font-size: 3em !important;
    color: azure;
}