@use "sass:math";

$full: 100%;

$niceBlue: rgb(58, 149, 233);

$niceYellow: rgb(212, 189, 147);

@mixin flexDisplaying($direction: row, $justify: flex-start, $align: stretch)
{
    display: flex !important;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
%button-hovering 
{
    transform: scale(1.01);
    box-shadow: 3px 3px 5px $niceBlue;
}