@import 'main';

.landingNavbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px 0 10px;
    height: 80px;
    border-bottom: 1px solid lightgray;
    background-color: grey;
}

.landingNavUl {
    display: flex;
    align-items: center;
    height: 95%;
    margin: 0 !important;
}

.signInOrOutBtn {
    cursor: pointer;
    font-size: large;
    border: 2px solid $niceBlue;
    color: $niceBlue !important;
    border-radius: 20px;
    height: 45px;
}
.signInOrOutBtn:active {
    transform: scale(0.985);
}

.signInOrOutBtn:hover {
    box-shadow: 2px 2px 5px 1px rgb(58, 149, 233);
}
.LogInBtn {
    width: 120px;
}
