@import 'main';

.landingNavbar {
    padding-right: 50px;
    height: 70px;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.landingNavUl {
    float: right;
    display: flex;
    align-items: center;
    height: 95%;
    margin: 0 !important;
}

.signInOrOutBtn {
    cursor: pointer;
    font-size: large;
    border: 2px solid $niceBlue;
    color: $niceBlue !important;
    border-radius: 20px;
    height: 43px;
    margin-left: 20px;
}
.signInOrOutBtn:active {
    transform: scale(0.985);
}

.signInOrOutBtn:hover {
    box-shadow: 2px 2px 5px 1px rgb(58, 149, 233);
}
.LogInBtn {
    width: 120px;
}
.topNavbar
{
    padding: 0 50px 0 50px;
    height: 70px; 
    border-bottom: 1px solid lightgray;
    background-color: antiquewhite;
}
.leftNavUl
{
    float: left;
}
.rightNavUl
{
    float: right;
}
.navUl
{
    @include flexDisplaying($align: center, $justify: space-around);
    height: 95%;
    margin: 0 !important;
}
.leftLinkItem
{
    margin-right: 30px;
}
.accountIconDiv
{
    border: 2px solid black;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    width: 43px;
    height: 43px;
    margin: 8px 5px 5px 5px;
}
.accountIconImg
{
    
    border-radius: 50%;
    margin-top: 5px;
    width: 60%;
    height: 67%;
} 

